.keyBoardButton {
    border-radius: 5px;
    padding: 15px;
    background-color: #d3d6da;
    border-style: none;
    font-family: "Arial";
    font-weight: bold;
    margin: 5px;
}

.keyBoardButton:hover {
    transform: translate(0px, 5px);
}