html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

div#root {
  width: 100%;
  height: 100%; /* remove this line to see div.app is no more 100% height */
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
