.oneVOneModeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.boardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}